<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasterization task fallback</title>
</head>
<body>
    <h1>Clasterization task fallback</h1>
    
    <form method="post" action="/">
        <label for="input_texts">Enter texts separated by commas:</label>
        <input type="text" id="input_texts" name="input_texts" required>
        <button type="submit">Go</button>
    </form>

    {% if max_texts_cluster is defined %}
        <p>Maximum amount of texts in the most popular cluster is: {{ max_texts_cluster }}</p>
    {% endif %}
</body>
</html>
