<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clasterization task</title>
</head>
<body>
    <h1>Clasterization task</h1>
    
    <form method="post" action="/">
        <label for="input_texts">Enter texts separated by commas:</label>
        <input type="text" id="input_texts" name="input_texts" required>
        <button type="submit">Go</button>
    </form>

    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}

    {% if input_texts is defined %}
        <p>Maximum amount of texts in the most popular cluster for {{ input_texts }} is: {{ max_texts_cluster }}</p>
    {% endif %}
</body>
</html>
